{% extends "global/PageExt.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    End of Study
{% endblock %}

{% block inner_content %}

    <p>Unfortunately you were not able to accept the participation in this study on time using the Consent Form.</p>
    <p>That means that you were dropped out of this study.</p>
    <div class="alert alert-danger">
        Please, <strong>return this HIT!</strong>
    </div>
    <p> If you have any issues regarding the study, please contact us immediately at
    <a href="mailto:chapkovskii@soziologie.uzh.ch">chapkovskii@soziologie.uzh.ch</a>.

{% endblock %}


